#title{
background-image: url("/My-Portfolio/cpage.jpg");
height: 100vh;
background-attachment: fixed;
background-repeat: no-repeat;

}
.container-fluid{
padding:1% 15%;
}
.nav-link{
color: white;
font-size: 1.2rem;
font-family: montserrat;
}
.navbar-brand{
font-family: Nickainley;
font-size: 2.5rem;
font-weight: bold;
color: #ffd600;
}
.navbar{
padding:0 0 4.5rem;
}
.nav-item{
padding: 0 18px;
}
.navbar-toggler-icon{
background-image:url(/My-Portfolio/download1.png);
background-size: cover;
}
#page-content{
text-align: center;
padding: 7% 15%;
}
h1{
font-family: Alaska;
font-size: 2.5rem;
font-weight: bold;
color: black;
}
#headerDiv{position: fixed;z-index: 9;}
#headerDiv.sticky{background-color: rgba(133, 199, 215);}
#headerDiv.sticky .navbar{padding:0;}
/*---------------------------------------------------------*/


.imgcontent .imagebox {
	overflow: hidden;
	padding: 0;
	margin:0;
}

.imgcontent .imagebox img {
transition: all ease 0.5s;
}
.imgcontent .imagebox:hover:after {content: "";background: ;height: 100%;width: 100%;position: absolute;opacity: 0.5;}
.imgcontent .imagebox:hover img {transform: scale(1.5);}
.imgcontent .imagebox:before {content: "";transition: all ease 0.5s;}
/*...........................................................*/
@media (max-width: 567px)
{
#title {
background-image: url(/My-Portfolio/cpage.jpg);
/* height: 768px; */
background-size: cover;
height: 277px;
}
.imgcontent div{
	height: 100px;
}
}
.isotope-filters {
display: table;
margin: 0 auto 40px;
text-align: center;
}
.isotope-filters button.active, .isotope-filters button:hover {
color: #7c60d5;
}
.isotope-filters button {
z-index: 2;
position: relative;
border: none;
background: none;
margin: 0px 5px;
cursor: pointer;
padding: 0px 20px;
font-size: 16px;
color: #868894;
font-weight: 500;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
}
.isotope, .iq-masonry {
margin: 0 -15px 0 0;
float: left;
width: 100%;
z-index: 2;
}
.isotope.iq-columns-5 .iq-grid-item {
width: 20%;
}
.isotope .iq-grid-item {
padding: 0 15px 30px;
}
#footer{
padding: 7% 15%;
text-align: center;
}
.content > img {
    position: absolute;
    left: 48px;
    z-index: -1;
}
.row{
	margin-left: 50px;
	margin-right: 50px;
}
